body {
    font-family: Arial;
    text-align: center;
    background: #f5f5f5;
}

h1 {
    color: #333;
}

input {
    width: 60%;
    padding: 10px;
}

button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
}

#answerBox {
    margin-top: 20px;
    padding: 15px;
    background: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}